.roboto-bold {
	font-family: "Roboto", serif;
	font-weight: 700;
	font-style: normal;
  }

html, body{
	font-family: 'VT323', sans-serif;
	color: #dae0ea;
	background-color: #242234;
}

a {
	color: #ff1178;
	text-decoration: none;
	background-image: linear-gradient(#8900e8, #8900e8);
	background-position: 50% 93%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
}

a:hover {
	background-size: 100% 3px;
}

::-moz-selection {
	background-color: #8900e8;
	color: #dae0ea;
}
  
::selection {
	background-color: #8900e8;
	color: #dae0ea;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 32px;
	line-height: 0.95;
}

.section-1 {
	background: #242234;
}

.section-2 {
	background-color: #242234;
}

.section-3 {
	background-color: #242234;
}

a.nav-item {
	color: #ff1178;
}

a.nav-item:hover {
	color: #ff1178;
}

.avatar{
	height: 300px; /* Лого */
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width: 100%;
	max-height: 175px;
	margin-bottom: 15px;
}

a.project-link {
	color: #ff1178;
	background-position: 50% 100%;
}

.project-text {
	text-align: center;
}

.box {
	background-color: transparent;
}

.title {
	color: #dae0ea;
	text-align: center;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) { /* Мобильная версия */
	iframe {
		width: 208px;
	}

	.avatar{
		height: 150px; /* Лого */
	}

	.nav-menu {
		background-color: #1e1e1e;
	}
}